@media (min-width: 768px) {
    .container {
        padding: 0 50px;
    }
    
    .page_nav{
        flex-direction: row;
        margin-bottom: 153px;
    }

    .button_enter {
        margin-bottom: 0;
    }

    .header {
        padding-top: 38px;
        padding-bottom: 234px;
    }

    .header_headline {
        font-size: 52px;
        margin-bottom: 36px;
        padding: 0 80px;
        align-items: center;
    }

    .header_text {
        font-size: 24px;
        margin-bottom: 34px;
    }

    .section_partners {
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .section_text {
        margin-bottom: 14px;
    }

    .partners_list {
        flex-flow: row wrap;
        max-width: 492px;
        margin: 0 auto;
    }

    .about_partner {
        width: 220px;
        margin-top: 18px;
        margin-bottom: 39px;
    }
}

@media (min-width: 940px) {
    .container {
        max-width: 940px;
        margin: 0 auto;
        padding: 0;
    }

    .header_headline {
        padding: 0 200px;
    }

    .partners_list {
        max-width: 940px;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .about_partner {
        margin-bottom: 39px;
    }
}