html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-lines: inherit;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 21px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1112px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.page-header {
    width: 1112px;
    display: inline-block;

}



















.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}