html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 21px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 0 14px;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */


.page_header {
    margin-bottom: 50px;
    padding-bottom: 230px;
    background-image: url(../img/baner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.page_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    margin-bottom: 130px;
}

.site_name {
    display: inline-block;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
}

.site_navigation {
    display: flex;
    justify-content: space-between;
    width: 410px;
    list-style: none;
    text-decoration: none;
}

.site_navigation li {
    display: block;
    position: relative;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
}

.site_navigation a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out;
}


.site_navigation__item:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color :#fce38a;
    content: '';
    opacity: 0;
    transform: translateY(10px);
    transition: .3s ease-in-out;
}

.cart {
    width: 18px;
    height: 15px;
    fill: #fff;
}

.search {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.site_navigation__link:hover ,
.site_navigation__link:focus  {
    color: #fce38a;

}

.site_navigation__item:hover::after {
    opacity: 1;
    transform: none;
}

.text {
    font-size: 72px;
    /* padding: 0 37px; */
    margin-bottom: 40px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.headline {
    font-size: 150px;
    line-height: 140px;        
    margin-bottom: 126px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.button_Learn {
    display: block;
    font-size: 14px;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    border: 2px solid #fff;
    outline: none;
}

.button_Learn:hover ,
.button_Learn:focus  {
    color: #fce38a;
    border: 2px solid #fce38a;
}

 /* SECTION_SERVICES */

.services_work {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.services_amazing {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 112px;
    position: relative;
}

.services_amazing::after {
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: 3px;
    background-color :#F38181;
    content: '';
}

.service_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
}

.service_list_item {
    width: 400px;
    padding-left: 91px;
    margin-bottom: 92px;
}

.list_name {
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.service_list_item {
    background-image: url(../img/icone/icone_1.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-position: 30px 5px;
}

.service_list_item:nth-of-type(2) {
    background-image: url(../img/icone/icone_2.png)
}

.service_list_item:nth-of-type(3) {
    background-image: url(../img/icone/icone_3.png)
}

.service_list_item:nth-of-type(4) {
    background-image: url(../img/icone/icone_4.png)
}

.service_list_item:nth-of-type(5) {
    background-image: url(../img/icone/icone_5.png)
}

.service_list_item:nth-of-type(6) {
    background-image: url(../img/icone/icone_6.png)
}

/* SECTION_TEAM */

.team {
    padding-bottom: 83px;;
}

.team_text {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
}

.team_our {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 88px;
    position: relative;
}

.team_our::after {
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60px;
    height: 3px;
    background-color :#F38181;
    content: '';
}

.text_our {
    width: 942px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 92px;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.team_item {
    position: relative;
    text-align: center;
}

.team_item img {
    margin-bottom: 30px;
}

.name {
    margin-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.specialty {
    font-family: 'Roboto';
    font-style: italic;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 470px;
    left: 0;
    top: 0;
    opacity: 0;
    background-image: linear-gradient(rgba(240, 153, 133, 0.8392156862745098), rgba(241, 211, 138, 0.88));
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0 #95e1d3;
}

.social_icons {
    display: flex;
}

.icon {
    display: block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    transition: .3s ease-in-out;
}

.facebook {
    width: 20px;
    height: 100%;
}

/* .icon_facebook {
    background-image: url(../img/icone/facebook.png);

} */

.icon_twitte {
    background-image: url(../img/icone/twitte.png);
}

.icon_pinterest {
    background-image: url(../img/icone/pinterest.png);
}

.icon_instagram {
    background-image: url(../img/icone/instagram.png);
}

.team_item:hover .overlay  {
    transition: opacity .5s linear;
    opacity: 1;
}

.icon:hover,
.icon:focus {
    background-color: #95E1D3;
}

/* --FOOTER-- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    border-top: 1px solid #ccc;
}

.footer__text {
    margin: 0;
    padding: 0;
}

.footer__link {
    list-style: none;
    text-decoration: none;
    color: #555252;
    transition: .3s ease-in-out;
}

.footer__link:hover,
.footer__link:focus {
    color: #F38181;
}

.input {
    width: 229px;
    height: 40px;
    padding: 1px;
    font-family: 'Roboto';
    font-style: italic;
    border: 1px solid gray;
    border-right: none;

}

.form {
    display: flex;
}

.Subscribe {
    text-transform: uppercase;
    color: #fff;
    width: 150px;
    height: 40px;
    background-color: #95E1D3; 
}
